@media screen and (max-width: 40rem) {
  .p-field-mobile-none {
    display: none;
  }
  .buttonForm {
    width: 100% !important;
  }
}

@media screen and (min-width: 40rem) {
  .buttonForm {
    margin-top: 25px !important;
  }
}

.buttonRight {
  float: right;
}
